{% extends 'base.html' %}
{% block contenidoQueCambia %}
<form action="?" method="GET">

  <input type="text" name="nombre" placeholder="Buscar por nombre">

  <select name="categoria">
    <option value="">Todas las categorías</option>
    {% for categoria in categorias %}
      <option value="{{ categoria }}">{{ categoria }}</option>
    {% endfor %}
  </select>

  <button type="submit">Buscar</button>

</form>

<!-- Listado de productos -->
<div id="productos">

  {% if productos.count == 0 %}
    <p>No se encontraron resultados</p>
  {% else %}

    <div class="productos-paginacion">
      {{ productos.pagination }} 
    </div>

    {% for producto in productos %}

      <div class="producto-tarjeta">
        
        <p>Categoría: {{ producto.categoria }}</p>
        <p>Precio:$ {{ producto.precio }}</p>
        <p>Talle: {{ producto.talle }}</p>
        <p>Marca: {{ producto.marca }}</p>
        <p>Modelo: {{ producto.modelo }}</p>
        <img src="{{ producto.foto.url }}" alt="Foto del producto">
        <button
          onclick="agregarAlCarrito(producto.id)"  
          data-producto-id="{{ producto.id }}">

          Agregar al carrito

        </button>


    {% endfor %}

    <div class="productos-paginacion">
      {{ productos.pagination }}
    </div>

  {% endif %}

</div>
{% for producto in productos %}


  
{% endfor %}
{% endblock contenidoQueCambia %}

